body {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
  }

.usersList {
    width: 90%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr


}

.userFoto {
    width: auto;
    height: 320px;
    background-repeat:no-repeat;
    background-size: cover;
    display:flex;
    margin:10px
}

.nameLine {
    height: 20px;
    padding: 5px;
    color: white;
    background-color: blue;
    opacity: 0.5;
    align-self: flex-end;
    flex-grow: 1;

}

.stretch {
    align-self: stretch;
    flex-grow: 1;
    height: 100%;
    padding: 0px;
    

}
  
  